{% extends "layout.html.twig" %}
{% block body %}
<div class="row justify-content-center my-4">
		<h1>Seleccione de que tipo de permiso quiere estudiar.</h1>
</div>
	<div class="row justify-content-around">
		<div class="col-lg-3 my-4">
			<div
				class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="{{ asset('img/permisoA.jpg') }}" alt="Card image cap">
						<div class="mask rgba-white-slight"></div>
				</div>

				<!--Card content-->
				<div
					class="card-body">

					<!--Title-->
					<h4 class="card-title text-center">Permiso A</h4>
					<!--Text-->
					<p class="card-text text-center">Aquí encontrarás temarios referentes a la obtención de los permisos A1, A2.
																									</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<a type="button" class="btn btn-light-blue btn-md" href="{{ asset('temas/A') }}">Empezar</a>

				</div>

			</div>
		</div>
		<div class="col-lg-3 my-4">
			<div
				class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="{{ asset('img/permisoB.jpg') }}" alt="Card image cap">
						<div class="mask rgba-white-slight"></div>
				</div>

				<!--Card content-->
				<div
					class="card-body">

					<!--Title-->
					<h4 class="card-title text-center">Permiso B</h4>
					<!--Text-->
					<p class="card-text text-center">Aquí encontrarás temarios referentes a la obtención de los permisos B y B + E.
																																																												        </p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<a type="button" class="btn btn-light-blue btn-md" href="{{ asset('temas/B') }}">Empezar</a>

				</div>

			</div>
		</div>
		<div class="col-lg-3 my-4">
			<div
				class="card mb-4">

				<!--Card image-->
				<div class="view overlay">
					<img class="card-img-top" src="{{ asset('img/permisoC.jpg') }}" alt="Card image cap">
						<div class="mask rgba-white-slight"></div>
				</div>

				<!--Card content-->
				<div
					class="card-body">

					<!--Title-->
					<h4 class="card-title text-center">Permiso C</h4>
					<!--Text-->
					<p class="card-text text-center">Aquí encontrarás temarios referentes a la obtención de los permisos C y C + E.
																																																												        .</p>
					<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
					<a type="button" class="btn btn-light-blue btn-md" href="{{ asset('temas/C') }}">Empezar</a>

				</div>

			</div>
		</div>
	</div>
	<footer class="page-footer font-small">
		<div class="row justify-content-center black">
			<div class="col-lg-4 text-center mt-3"style="height:300px;">
				<span class="d-block text-white mt-2 mb-5">
					<span class="navbar-brand ml-5"><img src="{{ asset('img/logo.png') }}" width="50px" height="50px"></span>
					<strong>Aprende y Conduce</strong></span>
				<span class="ml-2 d-block text-white my-2"><strong>Teléfono: 966.87.07.00</strong></span>
				<span class="ml-2 d-block text-white mt-2 mb-5"><strong>Email: aprendeyconduce@contacto.es</strong></span>
				<span class="ml-2 d-block text-white mt-5">&copy;Aprende y conduce todos los derechos reservados</span>
			</div>
		</div>
	</footer>
{% endblock %}
