{% extends "layout.html.twig" %}
{% block body %}
<div class="row vh-100 justify-content-center my-4">
	<div class="row">
			<h1 class="my-auto">¡Bienvenido a los temas del Permiso {{ tipoTest[0].tipo }}!</h1>
	</div>
		<div class="col-lg-6 ml-5 text-center">
			<table class="table">
				<thead class="border">
					<tr class="text-center pink darken-1">
						<th scope="col">Id</th>
						<th scope="col">Tipo</th>
						<th scope="col">Nombre</th>
						<th scope="col">Accion</th>
					</tr>
				</thead>
				<tbody class="border">
                {% for test in tipoTest %}
					<tr>
						<td>{{ test.id }}</td>
						<td>{{ test.tipo }}</td>
						<td>Test número {{ test.id }}</td>
						<td><a href="{{ path('test', {'id':test.id}) }}"><i class="far fa-file"></i></a></td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
</div>
<footer class="page-footer font-small">
		<div class="row justify-content-center black">
			<div class="col-lg-4 text-center mt-3"style="height:300px;">
				<span class="d-block text-white mt-2 mb-5">
					<span class="navbar-brand ml-5"><img src="{{ asset('img/logo.png') }}" width="50px" height="50px"></span>
					<strong>Aprende y Conduce</strong></span>
				<span class="ml-2 d-block text-white my-2"><strong>Teléfono: 966.87.07.00</strong></span>
				<span class="ml-2 d-block text-white mt-2 mb-5"><strong>Email: aprendeyconduce@contacto.es</strong></span>
				<span class="ml-2 d-block text-white mt-5">&copy;Aprende y conduce todos los derechos reservados</span>
			</div>
		</div>
	</footer>
{% endblock %}